In [1]:
dataset_folder = '/home/erwin/Downloads/ml-100k'

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = dataset_folder + '/u.data'

In [9]:
columns = ['userId', 'movieId', 'rating', 't']
df = pd.read_csv(data, names=columns, sep='\t')

In [10]:
df.head()

   userId  movieId  rating          t
0     196      242       3  881250949
1     186      302       3  891717742
2      22      377       1  878887116
3     244       51       2  880606923
4     166      346       1  886397596

In [11]:
df['userId'].value_counts()

405    737
655    685
13     636
450    540
276    518
      ...
147     20
19      20
572     20
636     20
895     20
Name: userId, Length: 943, dtype: int64

In [12]:
df['movieId'].value_counts()

50      583
258     509
100     508
181     507
294     485
       ...
1648      1
1571      1
1329      1
1457      1
1663      1
Name: movieId, Length: 1682, dtype: int64

In [13]:
df['rating'].value_counts()

4    34174
3    27145
5    21201
2    11370
1     6110
Name: rating, dtype: int64

In [14]:
movie = dataset_folder + '/u.item'

In [16]:
df_movie = pd.read_csv(movie, sep='\|')

/home/erwin/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [17]:
df_movie

,1,Toy Story (1995),01-Jan-1995,Unnamed: 3,http://us.imdb.com/M/title-exact?Toy%20Story%20(1995),0,0.1,0.2,1.1,1.2,...,0.6,0.7,0.8,0.9,0.10,0.11,0.12,0.13,0.14,0.15
0,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,6,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,01-Jan-1995,NaN,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1676,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1677,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1678,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1679,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1680,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
df_filtered = df[['userId', 'movieId', 'rating']]

In [23]:
df_filtered.head()

   userId  movieId  rating
0     196      242       3
1     186      302       3
2      22      377       1
3     244       51       2
4     166      346       1

## Convert to (sparse) matrix

In [26]:
from scipy.sparse import csr_matrix, lil_matrix

In [45]:
def data_frame_to_scipy_sparse_matrix(df):
    """
    Converts a sparse pandas data frame to sparse scipy csr_matrix.
    :param df: pandas data frame
    :return: csr_matrix
    """
    arr = lil_matrix(df.shape, dtype=np.float32)
    for i, col in enumerate(df.columns):
        ix = df[col] != 0
        arr[np.where(ix), i] = 1
    print(arr[0,100])

    return arr.tocsr()

In [46]:
sparse_R = data_frame_to_scipy_sparse_matrix(df_filtered)

IndexError: column index (100) out of bounds

In [29]:
sparse_R

<100000x3 sparse matrix of type '<class 'numpy.float32'>'
	with 300000 stored elements in Compressed Sparse Row format>

In [31]:
k = 20

In [33]:
df_filtered.shape

(100000, 3)

In [34]:
sparsity = 100000 / (1682 * 943)

In [35]:
sparsity

0.06304669364224531

In [70]:
R = np.zeros((943, 1682))

In [71]:
R

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [72]:
for row in df_filtered.values:
#     print(row)
    R[ row[0]-1, row[1]-1 ] = row[2]

In [73]:
max(df['movieId'])

1682

In [74]:
min(df['movieId'])

1

In [75]:
R

array([[5., 3., 4., ..., 0., 0., 0.],
       [4., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [5., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 5., 0., ..., 0., 0., 0.]])

In [82]:
X = np.random.rand(943,k)
Y = np.random.rand(1682,k)

In [172]:
X.shape[0]

943

In [182]:
epochs = 1000

In [183]:
def als_step(R, X, Y, _lambda=0.1):
    # Xu^T = Ru . Y(Y^TY + lambda*Ik)^(-1) -> ruas kanan = (1,1682) . (1682,k) . (k,k) = 1,k
    # Ru = R[u,:]
    precompute_Y = np.matmul(Y, (np.linalg.inv( np.matmul(Y.T, Y) + (_lambda * np.eye(Y.shape[1])) )))
    for u in range(X.shape[0]):
        X[u,:] = np.matmul(R[u,:], precompute_Y)

    # Yi^T = Ri . X(X^TX + lambda*Ik)^(-1) -> ruas kanan = (1,943) . (943,k) . (k,k) = 1,k
    # Ri = R[:,i]
    precompute_X = np.matmul(X, (np.linalg.inv( np.matmul(X.T, X) + (_lambda * np.eye(Y.shape[1])) )))
    for i in range(Y.shape[0]):
        Y[i,:] = np.matmul(R[:,i], precompute_X)
        
    return X, Y

In [184]:
for _ in range(epochs):
    X, Y = als_step(R, X, Y)

In [185]:
X

array([[ 0.23051263, -0.14387391,  0.0304341 , ...,  0.03221379,
         0.29958612,  0.43667332],
       [ 0.40098911,  0.14744143, -0.10747541, ...,  0.1572675 ,
         0.45595491,  0.79977649],
       [ 0.1396164 , -0.18461193,  0.10845687, ...,  0.22538386,
         0.39773779,  0.13026324],
       ...,
       [ 0.00140298,  0.1408096 , -0.28424905, ..., -0.14172186,
        -0.20623442,  0.08229196],
       [ 0.21298144, -0.25624418,  0.44254194, ..., -0.15332571,
         0.26939955, -0.15426363],
       [ 0.388981  , -0.53918   , -0.03974446, ...,  0.72760295,
        -0.63389998,  0.32672851]])

In [186]:
Y

array([[ 5.53123485e-01, -3.38173330e-01, -2.77860033e-01, ...,
        -7.23328552e-01, -8.09253935e-02, -1.54880121e-01],
       [-1.34526782e-01, -1.30910899e-01, -4.36876297e-02, ...,
         3.28814015e-01, -6.77902405e-02, -1.41153003e-01],
       [ 5.30354428e-03,  1.68663438e-01,  5.22826713e-02, ...,
         3.81539961e-01, -3.07171404e-01,  3.95414507e-01],
       ...,
       [-6.17243769e-04, -4.51802694e-03,  8.46236156e-03, ...,
         3.59850514e-03,  1.56581166e-02,  3.56914414e-03],
       [ 1.41565665e-03, -1.06569142e-02, -1.15412134e-03, ...,
         1.38480834e-03,  2.31642366e-03,  2.49057039e-03],
       [-5.08980993e-04,  3.08983650e-04, -1.41853899e-02, ...,
         5.20095781e-03,  9.49976338e-03,  1.18972294e-02]])

In [187]:
X[0,:].shape

(20,)

In [188]:
np.dot(X[0,:], Y[0,:])

4.016196100857829

In [189]:
R[0,0]

5.0